<MudPaper Width="20vw" Height="100vh" Outlined="true" Elevation="2">
    <MudNavMenu Outlined="true">
        <div style="padding: 0 1em">
            <MudTextField T="string"
                          @bind-Value="Search"
                          Immediate="true"
                          DebounceInterval="100"
                          OnDebounceIntervalElapsed="ApplyFilter"
                          Variant="Variant.Outlined"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Adornment="Adornment.End"
                          FullWidth="false"></MudTextField>
        </div>
        <MudDivider Class="my-2"/>
        @foreach (var city in UserCities)
        {
            <MudNavLink OnClick="@(() => Navigate(city.CityName))"> @city.CityName.ToUpper()</MudNavLink>
        }
    </MudNavMenu>
</MudPaper>